/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem; /* calculo para que 16px * 0.625 = sea igual a 10px */
    font-family: 'Libre Franklin', sans-serif;
}

.titulo{
    background-color: #2e9af4;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    padding: 1.5rem 0;
}

.envio{
    display: flex;
    margin-top: 2.5rem;
}

/*
<div class="image"></div>
<div class="buscador"></div>
<div class="caja"></div>
<div class="cuenta"></div>
<div class="feliz"></div>
            */
.image{
    flex-basis: 9%;
    display: flex;
    justify-content: center;
}

.image img{
    width: 10rem;
}

.buscador{
    background-color: white;
    flex-basis: 54.5%;
    display: flex;
    align-items: center;
}

.caja-input{
    position: relative;
}

.caja-input input{
    width: 78.15rem;
    height: 5rem;
    border-radius: 0.3rem;
    padding: 2rem 4.5rem 2rem 2rem; 
    /* Medidas para que el input sea mas grande */
    border: 0.2rem solid #C8C8C8;
}

.caja-input i{
    color: #ffffff;
    background-color: #f8b020;
    font-size: 2.4rem;
    position: absolute;
    left: 78rem;
    top: 0.1rem;
    padding: 1.25rem 1.7rem;
    border-radius: 0.3rem;
    border: none;
}

.caja-input input::placeholder{
    color: #A9A9A9;
}

.caja{
    flex-basis: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja p{
    font-size: 1.5rem;
    font-weight: bold;
    color: #53a4b7;
}

.caja i{
    font-size: 3.5rem;
    color: #76a5af;
}

.cuenta{
    background-color: #53a4b7;
    flex-basis: 17%;
}

.feliz{
    background-color: orange;
    flex-basis: 7%;
}