/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem; /* calculo para que 16px * 0.625 = sea igual a 10px */
    font-family: 'Libre Franklin', sans-serif;
}

.titulo{
    background-color: #2e9af4;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    padding: 1.5rem 0;
}

.envio{
    display: flex;
    margin-top: 2.5rem;
}

/*
<div class="image"></div>
<div class="buscador"></div>
<div class="caja"></div>
<div class="cuenta"></div>
<div class="feliz"></div>
            */
.image{
    flex-basis: 9%;
    display: flex;
    justify-content: center;
}

.image img{
    width: 10rem;
}

.buscador{
    background-color: white;
    flex-basis: 54.5%;
    display: flex;
    align-items: center;
}

.caja-input{
    position: relative;
}

.caja-input input{
    width: 78.15rem;
    height: 5rem;
    border-radius: 0.3rem;
    padding: 2rem 4.5rem 2rem 1rem; 
    /* Medidas para que el input sea mas grande */
    border: 0.1rem solid #C8C8C8;
}

.caja-input i{
    color: #ffffff;
    font-size: 2.4rem;
    position: absolute;
    left: 78rem;
    top: 0.1rem;
    padding: 1.25rem 1.7rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #f9af20;
}

.caja-input input::placeholder{
    color: #C8C8C8;
    font-size: 1.75rem;
}

.caja{
    flex-basis: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja p{
    font-size: 1.5rem;
    font-weight: bold;
    color: #53a4b7;
}

.caja i{
    font-size: 3.5rem;
    color: #53a4b7;
}

.cuenta{
    flex-basis: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuenta i{
    font-size: 3rem;
    color: #53a4b7;
}

.cuenta p{
    font-size: 1.5rem;
    font-weight: bold;
    color: #53a4b7;
}

.feliz{
    flex-basis: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feliz i{
    font-size: 3.5rem;
    color: #53a4b7;
}

.nav-padre{
    display: flex; /* Uso de flexbox (para dar ordenes a lo de adentro del nav)*/
    align-items: center;
    margin-left: 2.3rem;
    height: 6rem;
}

.nav-padre a{
    text-decoration: none; /* para quitar el sombreado de las enlaces a */
    font-weight: 550;
    color: #53a4b7;
    margin-right: 2rem; /* Espacio entre los enlaces (Igual que el margin-right)*/
}

.monster{
    display: flex;
    justify-content: center;
}

.monster img{
    width: 135rem;
}

.juguetes{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.frozen{
    width: 88rem;
    margin-right: 2rem;
}

.final{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.jenga{
    width: 38rem;
    margin-right: 2rem;
}

.batman{
    width: 95rem;
}

.nov{
    margin-top: 6rem;
    text-align: center;
    color: #4492e6;
    font-size: 1.35rem;
    background-color: antiquewhite;
}

.articulos{
    display: flex;
    justify-content: center;
    background-color: burlywood;
    margin-top: 3rem;
}

.articulos img{
    width: 21.5rem;
}

.robot1,.robot2,.robot13,.robot4,.robot5{
    border: 0.1rem solid #C8C8C8;
    padding: 1.5rem;
}

.precio{
    font-size: 2.75rem;
    color: #4492e6;
}

.hasbro{
    font-size: 1.3rem;
    color: #4492e6;
}

